@page
@using SklepProjektRazorPages.Helpers;
@model SklepProjektRazorPages.Pages.AdminPanel.Account.DeleteModel
@{
}
@if (AccountHelper.loggedInVerified == false)
{
    <div class="text-center">
        <h3>Nie mosz uprawnień do tej strony.</h3>
    </div>
}
else
{
    if (Model.deletedAccount != null && Model.deletedAccount.ID_Konta != null)
    {
        <div class="text-center">
            <div class="alert alert-success">
                Konto zostało dezaktywowane.
            </div>
        </div>
    }
    else if (!string.IsNullOrWhiteSpace(Model.alertMessage))
    {
        <div class="text-center">
            <div class="alert @Model.alertClass">
                @Model.alertMessage
            </div>
        </div>
    }
}