html {
  font-size: 14px;

}

body {
    --nav-load-time: 700ms;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1095%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient1096)'%3e%3c/rect%3e%3cpath d='M 0%2c222 C 76.8%2c262.8 230.4%2c425.6 384%2c426 C 537.6%2c426.4 614.4%2c245.8 768%2c224 C 921.6%2c202.2 998.4%2c345.8 1152%2c317 C 1305.6%2c288.2 1382.4%2c86.2 1536%2c80 C 1689.6%2c73.8 1843.2%2c244.8 1920%2c286L1920 1080L0 1080z' fill='%23184a7e'%3e%3c/path%3e%3cpath d='M 0%2c1043 C 55%2c950.2 165%2c614.2 275%2c579 C 385%2c543.8 440%2c839.6 550%2c867 C 660%2c894.4 715%2c722.8 825%2c716 C 935%2c709.2 990%2c824.4 1100%2c833 C 1210%2c841.6 1265%2c750.6 1375%2c759 C 1485%2c767.4 1541%2c893.2 1650%2c875 C 1759%2c856.8 1866%2c709.4 1920%2c668L1920 1080L0 1080z' fill='%232264ab'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1095'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='-19.44%25' x2='89.06%25' y2='119.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1096'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(2%2c 80%2c 181%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
@media (min-width: 0px) {
    .login-container {
        max-width: 20rem;
    }

    .reg-container {
        max-width: 22rem;
    }

    .login-input {
        width: 100%;
    }

    .clear-button {
        display: none !important;
        pointer-events: none;
    }

}   
@media (min-width: 600px){
    .login-container, .reg-container {
        max-width: 25rem;
    }
    .login-input{
        width:100%;
    }
}
@media (max-width:499px){
    .brands-container{
        float:none !important;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .footer .footer-container{
        font-size: min(0.9rem,1rem);
        text-align: center;
    }
}
/*@media (min-width:1699px){
    .login-container{
        max-width:25%;
        min-width:25%;
    }
}*/
@media (min-width: 1700px) {
    .login-container, .reg-container {
        max-width: 25rem;
    }
    .accounts-container, .accounts-settings-container, .admin-accounts-container {
        width: min(50rem) !important;
    }
    .edit-account-container{
        width: min(30rem) !important;
    }
}

@media (min-width:1280px){
    .clear-button {
        display: inline-block !important;
        pointer-events: all;
    }
}
@media (min-width:1700px){
    .reg-button-animation {
        padding: 1.5rem 2rem !important;
    }
}
@media (min-width:1750px){
    .reg-button-animation{
        padding: 1.5rem 2.5rem !important;
    }
}
@keyframes nav-load{
    0%{
        transform : translateY(-200%);

    }
    100%{
        transform : translateY(0);
    }
}@keyframes nav-img-load{
    0%{
        transform : scale(0);

    }
    90%{
        transform:scale(1);
    }
    100%{
        transform : scale(1);
    }
}
.container {
    align-content: center;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    flex-wrap: nowrap;
    max-width: 1920px;
    font-family: 'Poppins', sans-serif;
}
.navbar-container img, .navbar-container a, .container-searching-bar {
    animation: nav-load var(--nav-load-time) ease-in;
}
.navbar-container a {
    animation: nav-img-load var(--nav-load-time) ease-in;
    animation-fill-mode: forwards;
}
.navbar-container {
    font-family: 'Poppins', sans-serif;
}
@media (max-width:1500px){
    .searching-bar{
        transition: none !important;
        width:25vw;
    }
    
    .searching-bar:focus {
        transition: none !important;
        max-width: 25vw;
        width: 25vw;
    }
}
.bg-grey {
    opacity: 1;
    background-color:slategrey;
}

html {
    position: relative;
    min-height: 100%;
}

body {
  margin-bottom: 60px;
}
footer{
    background-color:white;
}
.button-container {
    padding-top: 2rem;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}
.button-animation:hover,.reg-button-animation:hover {
    color: white;
    background-color: rgba(2, 80, 181, 1);
}
.button-animation, .reg-button-animation {
    --offset: .1rem;
    --border-size: .1rem;
    display: block;
    position: relative;
    padding: 1.5em 3em;
    appearance: none;
    border: 0;
    background: transparent;
    color: rgba(2, 80, 181, 1);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    transition: background .8s ease;
}


.container-searching-bar {
    background-color: white;
    margin:auto;
    height:2.5rem;
    padding-left:10px;
    padding-right:10px;
}
.container-searching-bar a, .container-searching-bar a :focus, .container-searching-bar a :focus {
   text-decoration:none;
}
.searching-bar {
    max-width: 35vw;
    width: 25vw;
    transition: width 1.2s;
    border-radius: 0;
    border: none;
    outline: none;
    height:100%;
    margin:auto;
}
.searching-bar:focus {

    width: 35vw;
    transition: width 1.2s;
    outline:none !important;
    border:none;
}
.login-container {
    border: 0.5rem outset;
    border-image: linear-gradient(to right, rgba(2, 80, 181, 1),rgba(34, 100, 171, 1),rgba(24, 74, 126, 1)) 1;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    margin: 2rem;
    padding: 1rem;
    outline-offset: 0.5rem;
    margin: auto;
    /*width:ma(20%,60%,100%);*/
    box-shadow: 1px 1px 1px 1px black;
    min-width: 20%;
    min-height:20rem;
    text-align: center;
}
.reg-container {
    border: 0.5rem outset;
    border-image: linear-gradient(to right, rgba(2, 80, 181, 1),rgba(34, 100, 171, 1),rgba(24, 74, 126, 1)) 1;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    margin: 2rem;
    padding: 1rem;
    outline-offset: 0.5rem;
    margin: auto;
    box-shadow: 1px 1px 1px 1px black;
    min-height: 20rem;
    text-align: center;
}
.alert{
    text-align:center;
}
.login-input {
    border-top: groove rgba(34, 100, 171, 1) 2px;
    border-bottom: groove rgba(34, 100, 171, 1);
    border-left: groove 2px rgba(34, 100, 171, 1);
    border-right: groove 2px rgba(34, 100, 171, 1);
    border-radius: 0;
    width: min(15rem,20rem);
}
.login-input:focus {
    outline: rgba(2, 80, 181, 1) solid 1px;
}
.input-container{
    position:relative;
    width:min(15rem,25rem);
    align-content:center;
    align-items:center;
    margin:auto;
    padding:0.5rem 0 0.5rem 0;
}
.input-container label {
    display: block;
    text-align: center;
    padding-bottom: 0.2rem;
    font-family: 'Poppins', sans-serif;
}
.input-container input{
    padding:10px;
}
.brands-container * {
    padding: 10px;
    text-decoration: none;
    color: #6c757d !important;
}
.brands-container {
    float: right;
}
.form-container {
    text-align: center;
    display: block;
    margin: auto;
}
.form-container input {
    border-image: linear-gradient(to right, rgba(2, 80, 181, 1),rgba(34, 100, 171, 1),rgba(24, 74, 126, 1)) 1;
    
}
.clear-button {
    box-shadow: none;
    border: none;
    outline: none;
    color:#aab0b0;
    background-color:white;
    transform: scale(1.1);
    transition: color 0.1s ease-in;
}
.clear-button:hover {
    color: red;
    transition: color 0.1s ease-in;
}
.search-glass {
    color: #aab0b0;
    transition: color 0.25s ease-in;
}
.search-glass:hover {
    color: black;
    transition: color 0.25s ease-in;
}

.Logoutitem:hover{
    color:red;
    transition:0.2s ease-in;
}
.dropdown{
    position:relative;
    display:inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 1rem;
    border: 0.2rem outset;
    border-image: linear-gradient(to right, rgba(2, 80, 181, 1),rgba(34, 100, 171, 1),rgba(24, 74, 126, 1)) 1;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px black;
    transform: translateX(-75%);
    text-decoration: none;
    list-style-type: none;
    text-align: right;
}
.accounts-container{
    border: 0.5rem outset;
    border-image: linear-gradient(to right, rgba(2, 80, 181, 1),rgba(34, 100, 171, 1),rgba(24, 74, 126, 1)) 1;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px black;
    width: min(20rem);
}
.admin-accounts-container, .edit-account-container {
    border: 0.5rem outset;
    border-image: linear-gradient(to right, rgba(2, 80, 181, 1),rgba(34, 100, 171, 1),rgba(24, 74, 126, 1)) 1;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px black;
    width: min(24rem);
}
.account-name-container, .accounts-settings-container, .cards-container, .admin-panel-settings{
    border: 0.5rem outset;
    border-image: linear-gradient(to right, rgba(2, 80, 181, 1),rgba(34, 100, 171, 1),rgba(24, 74, 126, 1)) 1;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px black;
}
.accounts-settings-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: .2rem;
    justify-content: space-between;
    max-width: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    filter: drop-shadow()
}
.tab-content{
    margin-top:1.5rem;
}
.account-information-content{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.cards-container{
    display:flex;
    flex:1;
    flex-direction:row;
}
.admin-panel-settings{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:min(15rem);

}
.cont {
    margin-left: auto;
    margin-right: auto;
}
.dropMenu-Item {
    padding: 12px 16px;
    /* padding-top: 0.8rem;*/
    font-family: var(--bs-font-sans-serif);
    font-weight: 500;
    color: rgba(24, 74, 126, 1);
    transition: 0.2s ease-in;
}
.drop-a{
    border:none;
    cursor:pointer;
}
.dropdown:hover .dropdown-content{
    display:block;
}