<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BasiaProjektRazorPages.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/font-awesome/css/all.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">MediaNoobers</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav d-flex">
                        <li class="nav-item">
                            @*Dorobic funkcje na powiekszajacy sie search bar*@
                            <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search..." onhover="">
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>*@
                        @*<li class="nav-item justify-content-end">
                            <button class="fa-solid fa-user" style="margin-top:1.1vh"></button>
                        </li>*@
                    </ul>
                </div>                
            </div>
            <div class="navbar-collapse collapse d-flex justify-content-md-end" style="margin-right:6rem">
                @*Dodac funkcje do otwierania logowania/rejestracji*@
                <button class="fa-solid fa-user justify-content-end" style="" onclick=""></button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container d-inline-block">
            &copy; 2023 - Kacper Oleksiak,Wiktor Poprawski - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    <div class="brands-container d-inline-block footer" style="padding-left:90%">
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>