@page
@model SklepProjektRazorPages.Pages.AdminPanel.IndexModel
@using SklepProjektRazorPages.DbModels;
@using SklepProjektRazorPages.Helpers;
@{
    ViewData["Title"] = "Admin Panel - Strona główna";
}
@if (!AccountHelper.loggedInVerified || !AccountHelper.loggedInAccount.JestAdminem )
{
    <div class="text-center">
        <h3>Nie mosz uprawnień do tej strony.</h3>
    </div>
}
else
{
    <partial name="_AdminPanelNavigationPartial" />
}