@page
@model BasiaProjektRazorPages.Pages.Account.LogoutModel
@{
    bool loggedOut = false;
    if (AccountHelper.checkForLoggedInSession(HttpContext).Item1)
    {
        AccountHelper.Logout(HttpContext);
        loggedOut = true;
    }
}

<div class="row">
    @if (loggedOut)
    {
        <h2>Pomyślnie wylogowano</h2>
    }
    else
    {
        <h2>Nie byłeś zalogowany polaku</h2>
    }
</div>
<div class="row">
    <div class="col">
        <a asp-page="Index">
            Strona główna
        </a>
    </div>
    <div class="col">
        <a asp-page="Login">
            Zaloguj ponownie
        </a>
    </div>
</div>
