@page
@model BasiaProjektRazorPages.Pages.Account.LogoutModel
@{
    bool loggedOut = false;
    if (AccountHelper.checkForLoggedInSession(HttpContext).Item1)
    {
        AccountHelper.Logout(HttpContext);
        loggedOut = true;
    }
}

<div class="container">
    @if (loggedOut)
    {
        <h2 style="text-align:center">Pomyślnie wylogowano</h2>
    }
    else
    {
        <h2 style="text-align:center">Nie byłeś zalogowany polaku</h2>
    }
</div>
<div class="container " style="display:flex;flex-direction:column;justify-content:center;">
        <a asp-page="Index">
            Strona główna
        </a>
        <a asp-page="Login">
            Zaloguj ponownie
        </a>
</div>
