@page
@model SklepProjektRazorPages.Pages.Order.SuccessfullyPlacedModel
@{
}

<div class="alert alert-success fs-4">
    Zamówienie złożone, miłej kawusi <span class="fs-6">policjant mnie dusi </span>👨🏿‍🦲
</div>