@page
@model SklepProjektRazorPages.Pages.Order.SuccessfullyPlacedModel
@{
    ViewData["Title"] = "Zamówienie złożone";
}

<div class=" border-container bg-white" style="margin:auto;height:min(10rem);width:min(40rem)">
    <h2 style="text-align:center">Zamówienie złożone, miłej kawusi.</h2>
    <a class="button-animation" asp-area="" asp-page="/Index" style="width:min(20rem);margin:auto">Powrót na strone głowną</a>
</div>
