html {
  font-size: 14px;

}

body {
    --border-image-patern: linear-gradient(to right, rgba(2, 80, 181, 1),rgba(34, 100, 171, 1),rgba(24, 74, 126, 1)) 1;
    --border-radius-pattern: 8px;
    --nav-load-time: 700ms;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1095%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient1096)'%3e%3c/rect%3e%3cpath d='M 0%2c222 C 76.8%2c262.8 230.4%2c425.6 384%2c426 C 537.6%2c426.4 614.4%2c245.8 768%2c224 C 921.6%2c202.2 998.4%2c345.8 1152%2c317 C 1305.6%2c288.2 1382.4%2c86.2 1536%2c80 C 1689.6%2c73.8 1843.2%2c244.8 1920%2c286L1920 1080L0 1080z' fill='%23184a7e'%3e%3c/path%3e%3cpath d='M 0%2c1043 C 55%2c950.2 165%2c614.2 275%2c579 C 385%2c543.8 440%2c839.6 550%2c867 C 660%2c894.4 715%2c722.8 825%2c716 C 935%2c709.2 990%2c824.4 1100%2c833 C 1210%2c841.6 1265%2c750.6 1375%2c759 C 1485%2c767.4 1541%2c893.2 1650%2c875 C 1759%2c856.8 1866%2c709.4 1920%2c668L1920 1080L0 1080z' fill='%232264ab'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1095'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='-19.44%25' x2='89.06%25' y2='119.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1096'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(2%2c 80%2c 181%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
/*body.preload * {
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}*/
@keyframes nav-image-animation-in{
    from{
        text-shadow: 0;
    }
    to {
        text-shadow: 2px 2px 2px black;
    }
}
@keyframes nav-image-animation-in {
    from {
        text-shadow: 2px 2px 2px black;
    }

    to {
        text-shadow: 0;
    }
}
@keyframes shop-cart-in{
    from{
        transform:scale(1.0);
    }
    to {
        transform: scale(1.5);
        color: rgb(36, 124, 23);
    }
}
@keyframes shop-cart-out{
    from {
        transform: scale(1.5);
        color: rgb(36, 124, 23);
    }
    to {
        transform: scale(1.0);
        color: #aab0b0;
    }
}
@keyframes card-loading-animation{
    0%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(0);
    }
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
@media (min-width: 0px) {
    .login-container {
        max-width: 20rem;
    }

    .reg-container {
        max-width: 22rem;
    }

    .login-input {
        width: 100%;
    }

    .clear-button {
        display: none !important;
        pointer-events: none;
    }
    .admin-accounts-container{
        width:min(35rem) !important;
    }

}   
@media (min-width: 600px){
    .login-container, .reg-container {
        max-width: 25rem;
    }
    .login-input{
        width:100%;
    }
}
@media (max-width:499px){
    .brands-container{
        float:none !important;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .footer .footer-container{
        font-size: min(0.9rem,1rem);
        text-align: center;
    }
}
@media (min-width: 1700px) {
    .login-container, .reg-container {
        max-width: 25rem;
    }
    .accounts-container, .accounts-settings-container, .admin-accounts-container {
        width: min(50rem) !important;
    }
    .edit-account-container{
        width: min(30rem) !important;
    }
}

@media (min-width:1280px){
    .clear-button {
        display: inline-block !important;
        pointer-events: all;
    }
}
@media (min-width:1700px){
    .reg-button-animation {
        padding: 1.5rem 2rem !important;
    }
}
@media (min-width:1750px){
    .reg-button-animation{
        padding: 1.5rem 2.5rem !important;
    }
}
@keyframes nav-img-load{
    0%{
        transform : scale(0);

    }
    90%{
        transform:scale(1);
    }
    100%{
        transform : scale(1);
    }
}
.sticky{
    position:fixed;
    top:0;
    width:100%;
   
}
.content {
    padding:16px
}
.sticky + .content{
    padding-top:60px
}
.container {
    align-content: center;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    flex-wrap: nowrap;
    max-width: 1920px;
    font-family: 'Poppins', sans-serif;
}
.navbar-container {
    font-family: 'Poppins', sans-serif;
    border-image: var(--border-image-patern) repeat;
    border-bottom: 3px solid black;
}
@media (max-width:1500px){
    .searching-bar{
        transition: none !important;
        width:25vw;
    }
    
    .searching-bar:focus {
        transition: none !important;
        max-width: 25vw;
        width: 25vw;
    }
}
.bg-grey {
    opacity: 1;
    background-color:slategrey;
}

html {
    position: relative;
    min-height: 100%;
}

body {
  margin-bottom: 60px;
}
footer{
    background-color:white;
}
.button-container {
    padding-top: 2rem;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}
.admin-button-container {
    white-space: nowrap;
    display: flex;
    padding-top:0.2rem;
    flex-direction:row;
    gap:0.5rem;
    justify-content:space-evenly;
}
.button-animation:hover,.reg-button-animation:hover {
    color: white;
    background-color: rgba(2, 80, 181, 1);
}
.button-animation, .reg-button-animation {
    --offset: .1rem;
    --border-size: .1rem;
    display: block;
    position: relative;
    padding: 1.5em 3em;
    appearance: none;
    border: 0;
    background: transparent;
    color: rgba(2, 80, 181, 1);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    transition: background .8s ease;
    text-align:center;
}

#accounts-table td:not(:last-child), #accounts-table th:not(:last-child) {
    border-right: 1px solid black;
}
#accounts-table th{
    border-bottom:2px solid black;
}
.container-searching-bar {
    background-color: white;
    margin:auto;
    height:2.5rem;
    padding-left:10px;
    padding-right:10px;
    border:2px solid black;
}
.container-searching-bar a, .container-searching-bar a :focus, .container-searching-bar a :focus {
   text-decoration:none;
}
.searching-bar {
    max-width: 35vw;
    width: 25vw;
    transition: width 1.2s;
    border-radius: 0;
    border: none;
    outline: none;
    height:100%;
    margin:auto;
}
.searching-bar:focus {

    width: 35vw;
    transition: width 1.2s;
    outline:none !important;
    border:none;
}
.login-container {
    border: 0.5rem outset;
    border-image: var(--border-image-patern);
    border-radius: var(--border-radius-patern);
    font-family: 'Poppins', sans-serif;
    margin: 2rem;
    padding: 1rem;
    outline-offset: 0.5rem;
    margin: auto;
    box-shadow: 1px 1px 1px 1px black;
    min-width: 20%;
    min-height:20rem;
    text-align: center;
}
.login-container .input-container:nth-child(2), .reg-container .input-container:nth-child(2){
    border-top:1px solid grey;
}
.reg-container {
    border: 0.5rem outset;
    border-image: var(--border-image-patern);
    border-radius: var(--border-radius-patern);
    font-family: 'Poppins', sans-serif;
    margin: 2rem;
    padding: 1rem;
    outline-offset: 0.5rem;
    margin: auto;
    box-shadow: 1px 1px 1px 1px black;
    min-height: 20rem;
    text-align: center;
}
.alert{
    text-align:center;
}
.login-input {
    border-top: groove rgba(34, 100, 171, 1) 2px;
    border-bottom: groove rgba(34, 100, 171, 1);
    border-left: groove 2px rgba(34, 100, 171, 1);
    border-right: groove 2px rgba(34, 100, 171, 1);
    border-radius: 0;
    width: min(15rem,20rem);
}
.login-input:focus {
    outline: rgba(2, 80, 181, 1) solid 1px;
}
.input-container{
    position:relative;
    width:min(15rem,25rem);
    align-content:center;
    align-items:center;
    margin:auto;
    padding:0.5rem 0 0.5rem 0;
}
.input-container label {
    display: block;
    text-align: center;
    padding-bottom: 0.2rem;
    font-family: 'Poppins', sans-serif;
}
.input-container input{
    padding:10px;
}
.brands-container * {
    padding: 10px;
    text-decoration: none;
    color: #6c757d !important;
}
.brands-container {
    float: right;
}
.form-container {
    text-align: center;
    display: block;
    margin: auto;
}
.form-container input {
    border-image: var(--border-image-patern);
    
}
.clear-button {
    box-shadow: none;
    border: none;
    outline: none;
    color:#aab0b0;
    background-color:white;
    transform: scale(1.1);
    transition: color 0.1s ease-in;
}
.clear-button:hover {
    color: red;
    transition: color 0.1s ease-in;
}
.search-glass {
    color: #aab0b0;
    transition: color 0.25s ease-in;
}
.search-glass:hover {
    color: black;
    transition: color 0.25s ease-in;
}

.Logoutitem:hover{
    color:red;
    transition:0.2s ease-in;
}
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 9999 !important;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 1rem;
    border: 0.2rem outset;
    border-image: var(--border-image-patern);
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px black;
    transform: translateX(-75%);
    text-decoration: none;
    list-style-type: none;
    text-align: right;
    z-index: 9999;
}
.cart-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width:min(12rem);
    border: 0.2rem outset;
    border-image: var(--border-image-patern);
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px black;
    transform: translateX(-75%);
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    z-index: 9999;
    font-size: 12px;
}
.accounts-container,.products-container{
    border: 0.5rem outset;
    border-image: var(--border-image-patern);
    border-radius: var(--border-radius-patern);
    box-shadow: 1px 1px 1px 1px black;
    width: min(20rem);
}
.products-container{
    width: min(45rem) !important;
}
.admin-accounts-container, .edit-account-container {
    border: 0.5rem outset;
    border-image: var(--border-image-patern);
    border-radius: var(--border-radius-patern);
    box-shadow: 1px 1px 1px 1px black;
    width: min(24rem);
}
.account-name-container, .accounts-settings-container, .admin-panel-settings, .border-container{
    border: 0.5rem outset;
    border-image: var(--border-image-patern);
    border-radius: var(--border-radius-patern);
    box-shadow: 1px 1px 1px 1px black;
}
.nav-tabs{
    justify-content:space-between;
}
.accounts-settings-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: .2rem;
    justify-content: space-between;
    max-width: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    filter: drop-shadow()
}
.tab-content{
    margin-top:1.5rem;
}
.account-information-content{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.cards-container {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    padding: 0.2rem;
    height: max(15rem);
}
#cart-products{
    margin: 0.2rem auto;

}
#cart-products > *:not(:last-child){
    border-bottom: 1px solid black;
}
tr.cart-product > *:first-child {
    border-right: 1px solid black;
    padding-right:0.2rem;
}
tr.cart-product > *:nth-child(2) {
    padding-left: 0.2rem;
}
#cart-products{
    text-align:center;
}
#summary-cart-products {
    margin: max(0.2rem) auto;
    width: 100%;
}
#summary-cart-products td{
   padding: 0.5rem 0;
}
#summary-cart-products tr:not(:last-child){
   border-bottom:1px solid black;
}
#summary-cart-products td:first-child{
    width:max(100px);
    
}
#summary-cart-products img{
    width:100px;
    height:72px;
    object-fit:contain;
    display:block;
    margin:auto;
}
#summary-cart-products td:nth-child(2){
    padding-left:1rem;
}
#summary-cart-products td:nth-child(3) > *{
    border: 1px solid black;
    border-radius:10px;
    padding:2px;
    margin-top:revert;
}

#summary-cart-products tr:last-child {
    border-top: 1px solid black;
    
}
#summary-container {
    
    border-top: 0.1rem solid black;
    margin: 0.2rem auto;
    padding-top: .2rem;
}
.summary-container {
    align-items:center;
    margin:auto;
}
.flex-summary-container{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin: 2rem;
    font-size:18px;
    box-shadow:1px black;
}
.product td:nth-child(3), .product td:nth-child(4) {
    text-align: center;
}
#summary-button:hover {
    color: #0a58ca !important;
    transition: 0.2s color;
}
.address td {
    text-align: center;
}
.address-select-container{
    display:flex;
    justify-content:center;
    flex-direction:row;
    margin-top:2rem;
    margin-bottom:0.5rem;
    gap:0.8rem;
    text-align:center;
}
.snaps-inline{
    scroll-snap-type:inline mandatory;

}
ul {
    list-style-type: none;
}
.snaps-inline > *{
    scroll-snap-align:start;
    scroll-padding-inline: 1rem;
}
.card {
    display:block;
    width:100%;
    height:100%;
    overflow: scroll;
    overflow: hidden;
    position:unset !important;
    animation: card-loading-animation 1s;
}
.card-image {
    margin-left: auto;
    margin-right: auto;
}
.card-image img {
    margin-top:15px;
    width:min(100%);
    height:max(8rem);
    object-fit:contain;

}
.card-price,.card-item-name{
    margin-top:20px;
    margin-left:10px;
}
.card-shopping{
    display:flex;
    justify-content:space-between;
}
.product-cart {
    position:absolute;
    margin-right: 10px;
    border: 2.5px solid;
    border-color: black;
    border-radius: 100px;
    transition: border-color 0.2s ease-in, color 0.2s ease-in;
    padding:5px;
    transform:translateY(-100%);
}
.product-cart:hover {
    border-image: none !important;
    border-color:rgb(36, 124, 23);
    transition: border-color 0.2s ease-in, color 0.2s ease-in;
    animation-fill-mode: forwards;
    color:green;
}
.card-item-name{
    font-size:13px;
}
#warehouse-product-delivery-selection-container{
    width:max(30rem);
    margin-left:auto;
    margin-right:auto;
}
.admin-panel-settings{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:min(15rem);

}
.cont {
    margin-left: auto;
    margin-right: auto;
}
.dropMenu-Item {
    padding: 12px 16px;
    font-family: var(--bs-font-sans-serif);
    font-weight: 500;
    color: rgba(24, 74, 126, 1);
    transition: 0.2s ease-in;
}
.drop-a{
    border:none;
    cursor:pointer;
}
.dropdown:hover .dropdown-content,.dropdown:hover .cart-dropdown-content{
    display:block;
}
.notransition {
    transition: none !important;
}
.datatable-container{
    display:flex;
    gap:1rem;
    flex-direction:row;
}
#options{
    width:min(10rem) !important;
}
.shop-cart {
    transform: scale(1.0);
    
}
.shop-cart.addedClass {
    transition: color 1.5s;
    color: rgb(36, 124, 23) !important;
}
.TextShadowClass{
    text-shadow:2px 2px 2px grey;
}
.BoxShadowClass{
    box-shadow: 2px 2px 2px grey;
}
.view-container{
    display:flex;
    flex-direction:column;
    padding:.5rem;
    margin: 1rem auto auto 1rem;
    align-items:flex-start;
}
.view-specification {
    margin-bottom: 2rem;
    border-left: 1px solid grey;
}
.view-specification > *{
    padding-bottom:.5rem;
}
.view-price{
    margin:auto;
    align-items:flex-end;
    border: 1px solid grey;
    border-radius:15px;
}
.view-price p{
    font-size:22px;
}
.view-price button{
    display:flex;
    color:white;
    background-color:green;
    border: 12px solid green;
    border-radius:10px;
}
.view-price button::before{
    margin:auto
}
.view-price button p{
    font-size:11px;
    line-height:12px;
    margin: auto auto auto 10px;
}
#shop-cart, #account-img {
    color:black;
}