@page
@model SklepProjektRazorPages.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Wylogowano";
    bool loggedOut = false;
    if (AccountHelper.checkForLoggedInSession(HttpContext).Item1)
    {
        AccountHelper.Logout(HttpContext);
        loggedOut = true;
    }
    else if (AccountHelper.loggedInAccount == null || !loggedOut)
    {
        Response.Redirect("/Index");
    }
}


    @if (loggedOut)
    {
        <div class="container edit-account-container bg-white " style="display:flex;flex-direction:column;justify-content:center;">
            <h2 style="text-align:center">Pomyślnie wylogowano</h2>
            <a asp-page="/Index">
                Strona główna
            </a>
            <a asp-page="/Account/Login">
                Zaloguj
            </a>
            
        </div>
    loggedOut = true;
    }
    
